# Galaxy Temp Voice Bot Configuration
# ضع توكن البوت الجديد هنا
BOT_TOKEN=YOUR_BOT_TOKEN_HERE

# رابط قاعدة بيانات MongoDB (يفضل وضع نفس رابط البوت الحالي لمشاركة إعدادات الرومات السابقة والأرصدة)
MONGO_URL=mongodb://localhost:27017/bot

# أيدي السيرفر المسموح للبوت بالعمل فيه (يمكن وضع أكثر من سيرفر مفصولين بفاصلة)
ALLOW_SERVER=1494164518778179685

# أيدي قناة Join To Create الرئيسية في السيرفر
JOIN_TO_CREATE_ID=1494164521630306369
